CORPX_BASE_URL=https://corpx-frontend-atui3rufcq-uc.a.run.app
CORPX_API_BASE_URL=https://corpx-backend-atui3rufcq-uc.a.run.app/api/v1
CORPX_DEFAULT_ORGANIZATION=DEFAULT
CORPX_DEFAULT_CITY=Bangalore
CORPX_FIXED_OTP=000000
